<!DOCTYPE html>
<html>
<head>
  {% load static %}
<title>Transport Transparent</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'main.css'%}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/calculator"><span class="glyphicon glyphicon-book"></span>Meine Externen Kosten</a>
      </li>
      <li>
        <a href="/exampless"><span class="glyphicon glyphicon-user"></span>Beispiele</a>
      </li>
      <li>
        <a href="/companies"><span class="glyphicon glyphicon-user"></span>Firmen</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/about"><span class="glyphicon glyphicon-user"></span>About</a>
      </li>
    </ul>
  </div>
</nav>
<img src="{% static 'logo.png'%}">

{% block content %}{% endblock %}

</body>
</html>
