{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="text-center">
  <div class="container">
    <h1>Transportdaten analysieren</h1>
    <p>CSV hochladen um Analyse zu starten.</p>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container upload">
      <input type="text" id="company" name="company" placeholder="Unternehmen" required>
      <input type="file" id="file1" name="file" class="center" required>
      <button class="btn btn-lg btn-primary" type="submit">Upload</button>
    </div>
  </form>

 </div>
</div>
<div class="container">

</div>
{% endblock %}
