{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="text-center">
  <div class="container">

    <h1>Firmenübersicht</h1>
    <p>Blahblah.</p>
    <table class="table text-left">
    <th class="row">
      <td class="col-sm-1"> </td>
      <td class="col-sm-5">Name </td>
      <td class="col-sm-2">Zulieferung </td>
      <td class="col-sm-2">interner Transport </td>
      <td class="col-sm-2">Zustellung </td>
    </th>
    {% for company in results %}

    <tr class="row">
      <td class="col-sm-1">      
        {% if company.rating == "bronze" %} 
        <img src="{% static 'bronze.png'%}"> 
      {% endif %}
  
      {% if company.rating == "silver" %} 
      <img src="{% static 'silver.png'%}"> 
    {% endif %}
    
    {% if company.rating == "gold" %} 
    <img src="{% static 'gold.png'%}"> 
  {% endif %}
</td>
      <td class="col-sm-5"><a href="/company/{{company.id}}">{{ company.name }}</a></td>
      <td class="col-sm-2">{% for i in company.zulieferung_yellow %}<span class="yellow glyphicon glyphicon-star"></span>{% endfor %} {% for i in company.zulieferung_gray %}<span class="gray glyphicon glyphicon-star"></span>{% endfor %}</td>
       <td class="col-sm-2">{% for i in company.intern_yellow %}<span class="yellow glyphicon glyphicon-star"></span>{% endfor %} {% for i in company.intern_gray %}<span class="gray glyphicon glyphicon-star"></span>{% endfor %}</td>
       <td class="col-sm-2">{% for i in company.zustellung_yellow %}<span class="yellow glyphicon glyphicon-star"></span>{% endfor %} {% for i in company.zustellung_gray %}<span class="gray glyphicon glyphicon-star"></span>{% endfor %}</td>


    </tr>

    {% endfor %}
  </table>

  </div>
</div>

{% endblock %}
